

.form1 {
  background-color: white;
  border-radius: 5px;
  width: 40%;
  margin: 20px auto;
  padding: 20px;
  margin-top: 5%;
  /* height: 600px; */
  margin-bottom: 19%;
}

.form-body1 {
  text-align: center;
  padding: 20px 10px;
  
  display: flex;
  justify-content: center;

}

.form-body1 > * {
  padding: 5px;


}

.form__label1 {
  width: 40%;
  justify-content:center
}

.form_input1 {
 

    margin-right: 20px;
}

.footer1 {
  text-align: center;
  
}
